<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <head>
        {{ $customCSS := resources.Get "/theme_override.css" | resources.PostCSS }}
        <link rel="stylesheet" href="{{ $customCSS.RelPermalink }}">
    </head>

    <canvas id="canvas"></canvas>
    
    <body>
        <script type="text/javascript">
            // Immediately set theme on page load
            setThemeByUserPref();
        </script>
        {{- partial "header.html" . -}}
        <main id="content">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}

        {{ $customJS := resources.Get "/backgroundEffect.js" }}
        <script src="{{ $customJS.RelPermalink }}"></script>
    </body>
</html>
